*{
    margin: 0;
    padding:0;
}
body{
    background: #293241;
    font-size: 20px;
    font-family: 'Inconsolata', monospace;
}
.container{
    color: #E0FBFC;
     width: 80%;
      margin: 50px auto;
}
.contact-box{
    background:#3D5A80;
    display: flex;

}
.contact-left{
        flex-basis: 60%;
        padding: 40px 60px;
}
.contact-left h2{
     color: #EE6c40;
}
.contact-right h3{
    flex-basis: 40%;
    padding: 40px;
    color: #EE6c40;
    background: #3D5A80;

}
.Contact-right{
    color: #E0FBFC;
}
h1{
    margin-bottom: 10px;
}
.container p{
       margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
       flex-basis: 40%;
}
input{
    background-color: #E0FBFC;
    width: 100%;
    border: none;
    border-bottom: 1px solid #98C1DA ;
    outline: none;
    padding-bottom: 5px;
    
}
textarea{
    background-color: #E0FBFC;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #98C1DA;
}
button{
    background: #EE6c40;
    width: 100px;
    border:none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
     color: #98C1DA;
     font-weight: 600;
     margin-bottom: 30px;
}
.contact-right h3{   
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding: 10px;
}